body{
    background-color: white;
    color: #000000;
}
.dark-mode{
    background-color: #333333;
    color: black;
    filter: invert(1);
}


.top{
    background-color: #848487;
    display: flex;
    flex-direction: column;
}
#title{
position: relative;
top:1em;
    left:29em
}
#name{
position:relative;
top: 1em;
    left: 5em;
}
button{
    align-self: flex-end;
}
.contact{
    padding-right: 2em;
}
hr{
    margin-top: 0;

}
a{
    color: maroon;
}
a:hover{
    color: white;
}
.topic{
    margin-top: 1em;
    font-weight: bold;
    font-size: large;
}
.full_content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.left_side{
    display: flex;
    flex-direction: column;
    padding:0 3em;
}
.left_side > *{
    padding-top: 2em;
}

.right_side ul{
    list-style-type: none;
    white-space: nowrap;

}
.right_side ul li{
    padding: .5em 0;
}
.right_side{
    background-color: #a4a4a4;
    display: flex;
    flex-direction: column;
}
.right_side > *{
    padding-left: 1em;
}
.topic_line{
    margin-top: 0;
    width: 25%;
    height: .5em;
    padding-left: 0;
    background-color: #3d4634;
    margin-bottom: 1em;
}
.Accom{
    list-style-type: none;
    font-weight: bold;
}
@media handheld, screen and (min-width:300px ) and (max-width: 500px) {

}